@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.App {
  font-family: "Kanit", sans-serif;
  text-align: center;
}
ul {
  padding-inline-start: 0px;
}
body {
  background-image: linear-gradient(135deg, rgb(245, 101, 125), white, pink);
}
